
# ESTE ES UN EJEMPLO DE ARCHIVO CON LOS VALORES NECESARIOS PARA QUE LA APLICACIÓN SEA FUNCIONAL

# Antes de ejecutar la aplicación asegurate de haber creado el archivo VARIABLES_ENTORNO.env
# Y haber remplazado los valores por defecto por otros reales


KEY_CHATGPT =tu_key_aqui # clave de api de ChatGPT